html {
  background-color: white;
}

*,
*::before,
*::after {
  margin: 0;
  position: relative;
  font-weight: normal;
}

header {
  font-size: 32px;
  font-weight: 700;
}

body {
  min-width: 100%;
  background: white;
  font-family: "Manrope", "Noto Sans KR";
  -webkit-font-smoothing: antialiased;
}

#app {
  min-height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
}

a {
  text-decoration: none;
}
